* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: bisque;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.up {
    background-color: #004156;;
    color: white;
    padding: 35px 15px 5px 15px;
    height: 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cir {
    background-color: white;
    color: gray;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-height: 30px;
    width: 30px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #005f7d;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 7px 0px 7px;
    height: 65px;
}

.bal {
    display: flex;
    justify-content: space-between;  
}

.bala {
    padding-top: 5px;  
    font-size: 11px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.trans {
    background-color: #005f7d;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10.5px;
    width: 32%;
    height: 65px;
}

.trans img{
    box-sizing: border-box;
    height: 21px;
}

.trans p{
    padding-top: 10px;
}

.down {
    background-color: aliceblue;
    height: 500px;
    padding: 0px 15px 15px 15px;
    
}

.see {
    background-color: white;
    margin-top: -50px;
    border-radius: 5px;
    padding: 20px 10px 10px 10px;
    height: 170px;
}

.tup {
    display: flex;
    justify-content: space-between;
}

.more {
    max-height: 25px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.more img{
    box-sizing: border-box;
    height: 17px;
}

.more h3{
    padding-bottom: 10px;
}

.tmid {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.green {
    color: rgb(25, 145, 25);
    font-weight: bolder;
}

.tdw {
    display: flex;
    color: gray;
}

.tdw span {
    padding-left: 45px;
}

.giv {
    margin-top: 20px;
    margin-left: 170px;
    color: rgb(14, 14, 185);
    border: none;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    background-color: rgb(150, 148, 148);
}

.sea {
    background-color: white;
    margin-top: 10px;
    margin-bottom: -50px;
    height: 290px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.tupp {
    display: flex;
    justify-content: space-between;
}

.tupp img {
    box-sizing: border-box;
    height: 17px;
    padding-right: 20px;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    background-color: #004156;
}

.pm {
    padding: 5px;
}

.upp img{
    padding-top: 15px;
    padding-left: 15px;
}

.upp {
    width: 100%;
    position: fixed;
    z-index: 3;
    background-color: #004156;
}

.upp .menu {
    display: none;
}

.upp ul li:hover{
    background-color: #005f7d;

}

.upp ul a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 14px;
    padding:20px;
    
    
}

.upp ul li{
    
    padding-bottom: 15px;
}

.upp ul{
    list-style: none;
    overflow: hidden;
    color: white;
    background-color: #000000;
    padding:0;
    margin: 0;

}

.upp .nvar {
    clear: both;
    max-height: 0;
    transition:max-height .2s ease-out
}

.upp .menu:checked ~ .nvar {
    max-height: 640px;
    
}

.upp .check {
    padding: 28px 20px;
    position: relative;
    float: left;
    cursor: pointer;
}

.upp .check .nav{
    background: white;
    display: block;
    height: 2px;
    width: 25px;
    position: relative;
    transition: background .2s ease-out;
}

.upp .check .nav:before{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 5px;
    transition: all .2s ease-out;
}

.upp .check .nav::after{
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    transition: all .2s ease-out;
}

.upp .menu:checked ~ .check .nav{
    background: transparent;
}

.upp .menu:checked ~ .check .nav:before{
    transform: rotate(-45deg);
    top:0;
}

.upp .menu:checked ~ .check .nav:after{
    transform: rotate(45deg);
    top: 0;
}

.upp .fann{
    height: 0;
}

.upp .far:checked ~ .lii .fax{
    height: 70px;
} 